:root {
  --color: white;
}

#card {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  background: linear-gradient(#4776e6, #8e54e9);
  text-align: center;
  color: var(--color);
  border-radius: 20px;
  width: 300px; 
  max-width: 100%;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.title {
  color: black;
  font-weight: bold;
  font-size: 30px;
}
#watch {
  width: 100%;
  height: auto;
  max-width: 100%; 
}

#logo {
  width: 30px; 
  margin-bottom: 10px;
}

.card_description {
  font-size: 16px;
  color: var(--color);
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card_description p {
  white-space: pre-line;
}

.card_items {
  color: var(--color);
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
}

.link {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
}

a:hover {
  color: yellow;
  text-decoration: underline;
  cursor: cell;
}

a:active {
  color: green;
}

a:focus {
  text-decoration: dotted;
  color: salmon;
}

a:visited {
  color: white;
}
