:root {
  --color: white;
}

section {
  border: 3px solid black;
  display: flex;
  position: absolute;
  padding: 0;
  margin: 0;
  background: linear-gradient(#4776e6, #8e54e9);
  text-align: center;
  color: var(--color);
  border-radius: 20px;
  max-width: 100%;
}

h1 {
  text-align: center;
}

#watch {
  width: 100%;
  height: auto;
  max-width: 600px;
}

.card_description {
  font-size: 16px;
  color: var(--color);
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#card .card_items {
  color: var(--color);
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
}

.link {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
}

a:hover {
  color: yellow;
  text-decoration: underline;
  cursor: cell;
}

a:active {
  color: green;
}

a:focus {
  text-decoration: dotted;
  color: salmon;
}

a:visited {
  color: white;
}
